body{
  background-color: #000;
  display: flex;
  position: relative;
}

h1{
  display: flex;
  justify-content: center;
  margin: 1.5rem;
  padding-top: 0.3rem;
}

input{
  padding-left: 10px;
}

#pwLength, #response{
  font-size: 16px;
  height: 1.5rem;
}

#pwLength{
  float: right;
  margin-right: 7rem;
  /* outline: solid; */
  text-align: center;
  width: 50px;
}

#response{
  margin-left: 5.8rem;
  outline: double;
  width: 330px;
}

#warning{
  color: red;
  display: flex;
  font-size: 22px;
  justify-content: center;
}

.box{
  background-color: #fff;
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.75);
/*   margin: 4rem auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
/*   width: 45%; */
}

.button{
  background-color: #0095ff;
  /* border-radius: 15px; */
  color: #fff;
  display: block;
  font-size: 16px;
  margin-left: auto;
  margin-right: 1rem;
  padding: 0.8rem 1.2rem;
}

.label{
  padding-left: 1.6rem;
}

.row{
  margin: 1.2rem 0;
/*   padding-top: 1rem; */
  width: 37rem;
}

.row2{
  display: inline-block;
  line-height: 1.5;
  margin-left: 1.6rem;
}

.row2 input{
  float: right;
  margin-left: 5rem;
}

.row3{
  margin: 1rem 0;
  width: 37rem;
}

.row4{
  margin-top: 1.8rem;
  padding-bottom: 3rem;
}

.wrapper{
  font-size: 20px;
  margin: auto;
  width: 32em;
}
