body{
  background-color: #000;
  display: flex;
  position: relative;
  max-width: 100%;
}

h1{
  display: flex;
  justify-content: center;
  margin: 1.5rem;
  padding-top: 0.3rem;
}

input{
  padding-left: 10px;
}

#pwLength, #response{
  font-size: 16px;
  height: 1.5rem;
}

#pwLength{
  float: right;
  margin-right: 7rem;
  /* outline: solid; */
  text-align: center;
  width: 50px;
}

#response{
  margin-left: 5.8rem;
  outline: double;
  width: 330px;
}

#warning{
  color: red;
  display: flex;
  font-size: 22px;
  justify-content: center;
}

.box{
  background-color: #fff;
  box-shadow: 0 0 100px 0 rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.button{
  background-color: #0095ff;
  /* border-radius: 15px; */
  color: #fff;
  display: block;
  font-size: 16px;
  margin-left: auto;
  margin-right: 1rem;
  padding: 0.8rem 1.2rem;
}

.label{
  padding-left: 1.6rem;
}

.row{
  margin: 1.2rem 0;
/*   padding-top: 1rem; */
  width: 37rem;
}

.row2{
  display: inline-block;
  line-height: 1.5;
  margin-left: 1.6rem;
}

.row2 input{
  float: right;
  margin-left: 5rem;
}

.row3{
  margin: 1rem 0;
  width: 37rem;
}

.row4{
  margin-top: 1.8rem;
  padding-bottom: 3rem;
}

.wrapper{
  font-size: 20px;
  margin: auto;
  width: 32em;
}

@media screen and (max-width: 670px) {
  #pwLength{
    margin-right: 14.5rem;
    width: 40px;
  }

  #response{
    margin-left: 1rem;
    width: 260px;
  }

  .box{
    width: 80%;
  }

  .button{
    margin-right: 11.7rem;
    margin-top: 1.2rem;
  }

  .label{
    padding: 0;
  }

  .row, .row4{
    margin-left: 1.6rem;
  }

  .row2 input{
    margin-top: 8px;
    margin-left: 4.5rem;

  }

  .row4 input{
    margin-top: 10px;
  }

  .wrapper{
  width: auto;
  }

  }

@media screen and (max-width: 525px) {
#pwLength{
  margin-right: 18.2rem;
  outline: double;
}

#response{
  margin-left: 2rem;
  margin-top: 10px;
}

.button{
  margin-left: 8rem;
}

.row, .row2, .row4{
  margin-left: 1rem;
}

.row2 input{
  margin: 8px 10px 0 12px;
}

}

@media screen and (max-width: 415px) {
  h1{
    margin: 1.3rem 0 0;
  }

  #pwLength{
    margin-right: 19rem;
    outline: double;
    width: 30px;
  }

  #response{
    width: 240px;
}

  .box{
    width: 85vw;
  }

  .button{
    margin-left: 7.2rem;
  }

  .row, .row2, .row4{
    margin-left: 1rem;
  }

  .row2 input{
    margin: 8px 12px 0 1rem;
  }

  }
